/*FONDOS*/
.fondogeneral{
    background-color: rgb(26, 188, 156);
}

.fondoazul{
    background-color: rgb(0, 255, 255);
}

.fondomorado{
    background-color: rgb(155, 89, 182);
}

/*BORDES*/
.bordepuntosblancos{
    border: 5px dashed white;
}

.bordepuntosrojos{
    border: 5px dashed red;
}

.bordeblancogrueso{
    border: 5px solid white;
}

.bordeblanco{
    border: 3px solid white;
}

/*LETRAS*/
.tamañoletra{
    font-size: 30px;
}

.letrasblancas{
    color: white;
}

/*MARGEN*/
.margen{
    margin: 0px;
    padding: 5px;
}

.margen2{
    margin-left: 10%;
    margin-right: 10%;
}

/*RECUADROS*/
.tamañorecuadro{
    width: 100%;
}

.tamañorecuadro1{
    width: 20%;
}

.tamañorecuadro2{
    width: 75%;
}